html, body{ background-color: grey; }
* { margin:0; padding:0; box-sizing:border-box; }

header {
	background-color: #660708;
}

.topnav {
	list-style: none;
	text-align: left;
	font-weight: bold;
	padding: 0.1em;
	line-height: 15px;
}
.topnav li {	
	display: inline-block;
	overflow: hidden;
	padding: 0 0.1em;
}
.topnav a {
	display: inline-block;
	background-color: #470607;
	color: white;
	text-decoration: none;
	padding: 10px;
}
.topnav a:hover {
	background-color: #960d0f;
	color: white;
}



main {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: left;
	padding: 1em;
	min-height: 110vh;
}

main h1 {
	font-size: 1.5em;
}
main h2 {
	font-size: 1em;
}

footer {
	bottom: 0;
	background-color: #660708;
	text-align: center;
	font-weight: bold;
}

#wrapper {
	width: 100%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
}
